<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="instagramTagUrl" value="https://www.instagram.com/explore/tags/{0}/"/>
  <add key="instagramEmbedingUrl" value="https://api.instagram.com/oembed/?url=http://instagr.am/p/{0}"/>
  <add key="facebookTagUrl" value="https://www.facebook.com/hashtag/{0}?fref=ts"/>
  <add key="timeserverUrl" value="https://www.timeserver.ru/cities/ru/{0}"/>
  <add key="consultantUrl" value="http://www.consultant.ru/law/ref/calendar/proizvodstvennye/2020/"/>
</appSettings>
</configuration>